.shimmer {
  background: #f6f7f8;
  background-image: linear-gradient(to right, #f6f7f8 0%, #edeef1 20%, #f6f7f8 40%, #f6f7f8 100%);
  background-repeat: no-repeat;
  background-size: 800px 104px;
  display: inline-block;
  position: relative;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-name: placeholderShimmer;
  -webkit-animation-timing-function: linear; }
  .shimmer.line {
    height: 10px;
    width: 100%; }
  .shimmer.circle {
    border-radius: 50%; }
  .shimmer.circle-sm {
    border-radius: 50%;
    height: 54px;
    width: 54px; }
  .shimmer.circle-md {
    border-radius: 50%;
    height: 200px;
    width: 200px; }
  .shimmer.box-sm {
    height: 40px;
    width: 40px; }
  .shimmer.circle-half {
    height: 100px;
    width: 200px;
    border-top-left-radius: 200px;
    border-top-right-radius: 200px; }

@-webkit-keyframes placeholderShimmer {
  0% {
    background-position: -468px 0; }
  100% {
    background-position: 468px 0; } }
