@page
@model TKW.AdminPortal.Pages.DashboardModel
@using TKW.ApplicationCore.Enums
@using TKW.AdminPortal.Components.Pages
@inject TKW.ApplicationCore.Identity.IAppUserService user
@{
    ViewData["Title"] = "Dashboard";
    Layout = user?.Current?.Role == UserRole.Admin ? "_LayoutAdmin" : user?.Current?.Role == UserRole.FranchiseAdmin ? "_LayoutFranchiseAdmin" : "_LayoutTeleCaller";
}
<div class="content">
    @if (Model != null)
    {
        <component type="typeof(Dashboard)" render-mode="WebAssemblyPrerendered" />
    }

    @*@if (!Model.IsFranchise)
        {
            @await Component.InvokeAsync("SelectFranchise")
        }
        else
        {
            <component type="typeof(Dashboard)" render-mode="WebAssemblyPrerendered" />
        }*@
</div>
@section Scripts{
    <script src="_framework/blazor.webassembly.js"></script>
    <script src="~/js/chart.min.js"></script>
    <script src="_content/ChartJs.Blazor.Fork/ChartJsBlazorInterop.js"></script>
}
