@page
@model TKW.AdminPortal.Areas.UserProfile.Pages.Ajax.UserProfileModel
@{
    Layout = null;
}


@*<div class="row">
        <div class="col-md-6">
            <div class="card mb-3">
                <h6 class="card-header fw-bold">Payment Details</h6>
                <div class="card-body">
                    <div class="card-header p-3 border-bottom-0">
                        <div class="row align-items-center gx-3">
                            <div class="col-auto">
                                <h6 class="app-card-title">Primary payment method is used by default</h6>
                            </div>
                        </div>
                    </div>
                    <div class="item py-3">
                        <div class="row justify-content-between align-items-center">
                            <div class="col">
                                <img src="https://codescandy.com/geeks-bootstrap-5/assets/images/creditcard/visa.svg" alt="" class="me-3">
                                <strong>Credit/Debit Card</strong>
                                <span class="badge bg-success ms-2">Primary</span>
                            </div>

                            <div class="col ms-2">
                                <div class="mt-2"><strong>UPI ID :</strong> <span class="ms-2">ghshb74@oksbi</span></div>
                                <div class="mt-2"><strong>Paytm Wallet No. :</strong> <span class="ms-2">7474847885</span></div>
                            </div>

                            <div class="col">
                                <div class="mt-2"><strong>Account No. :</strong> <span class="ms-2">4767834674647375</span></div>
                                <div class="mt-2"><strong>IFSC Code :</strong> <span class="ms-2">SBIN8834592</span></div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="card mb-3">
                <h6 class="card-header fw-bold">Address Management</h6>
                <div class="card-body">
                    <div class="card-header p-3 border-bottom-0">
                        <div class="row align-items-center gx-3">
                            <div class="col-auto">
                                <h6 class="app-card-title">Primary Address is used by default</h6>
                            </div>
                        </div>
                    </div>
                    <div class="card-body px-4 w-100">
                        <h6 class="fw-bolder d-inline bg-info">Address 1</h6>
                        <div class="badge bg-success font-uppercase ms-4">Primary</div>
                        <div class="item border-bottom py-3">
                            <div class="row justify-content-between align-items-center">
                                <div class="col-auto">
                                    <div>
                                        <address class="m-b-none" type="Shop" addressline="dasfefa, Gautam Nagar Jhuggies Area" city="Bhopal" locality="Madhya Pradesh" pincode="6748978" state="Madhya Pradesh"></address>
                                    </div>
                                </div>

                                <div class="col text-right text-end">
                                    <div class="dropdown d-inline">
                                        <button class="btn btn-secondary btn-outline btn-xs " type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                            Change
                                        </button>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                            <li><a class="dropdown-item" href="#">Edit</a></li>
                                            <li><a class="dropdown-item" href="#">Delete</a></li>
                                            <li><a class="dropdown-item" href="#">Make it primary</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card-body px-4 w-100">
                        <h6 class="fw-bolder d-inline bg-info">Address 2</h6>
                        <div class="item border-bottom py-3">
                            <div class="row justify-content-between align-items-center">
                                <div class="col-auto">
                                    <div>
                                        <address class="m-b-none" type="Shop" addressline="dasfefa, Gautam Nagar Jhuggies Area" city="Bhopal" locality="Madhya Pradesh" pincode="6748978" state="Madhya Pradesh"></address>
                                    </div>
                                </div>

                                <div class="col text-right text-end">

                                    <div class="dropdown d-inline">
                                        <button class="btn btn-secondary btn-outline btn-xs " type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                            Change
                                        </button>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">

                                            <li><a class="dropdown-item" href="#">Edit</a></li>
                                            <li><a class="dropdown-item" href="#">Delete</a></li>
                                            <li><a class="dropdown-item" href="#">Make it primary</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="app-card-footer mt-auto text-md-center">
                        <a class="btn btn-outline btn-secondary btn-sm" href="#">Add Address</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card mb-3">
                <h6 class="card-header fw-bold">Purchase Summary Details</h6>
                <div class="fw-bold text-center py-2">Tottal Request (60)</div>
                <div class=" card-body">
                    <div class="d-flex">
                        <div class="col-md-4 ps-2">
                            <div class="py-1 text-center">
                                <h6 class="fw-bold">20</h6>
                                <div class="font-trans">tottal submitted</div>

                            </div>
                        </div>
                        <div class="col-md-4 ps-2">
                            <div class="py-1 text-center">
                                <h6 class="fw-bold">20</h6>
                                <div class="font-trans">tottal handled</div>
                            </div>
                        </div>
                        <div class="col-md-4 ps-2">
                            <div class="py-1 text-center">
                                <h6 class="fw-bold">20</h6>
                                <div class="font-trans">tottal cancelled</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-4">
                    <div class="card tilebox-one">
                        <div class="card-body">
                            <div class="text-center">
                                <div class="text-muted text-uppercase mt-0">REQUEST INTERVAL</div>
                                <h6 class="fw-bold d-inline">5</h6>
                                <small class="fw-bold">DAYS</small>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card tilebox-one">
                        <div class="card-body">
                            <div class="text-center">
                                <div class="text-muted text-uppercase mt-0">MONEY EARNED</div>
                                <h6 class="fw-bold d-inline">1000</h6>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card tilebox-one">
                        <div class="card-body">
                            <div class="text-center">
                                <div class="text-muted text-uppercase mt-0">Average Bill Amount</div>
                                <h6 class="fw-bold d-inline">2000</h6>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="card mt-3">
                <div class="card-header">Rating and Feedback</div>
                <div class="card-body p-sm">
                    <span>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                    </span>
                </div>
            </div>

            <div class="card mb-3 mt-3">
                <div class="card-header">Contribution</div>
                <div class="card-body px-4 w-100">

                    <div class="item border-bottom py-3">
                        <div class="row justify-content-between align-items-center">
                            <strong>Trees Saved</strong>
                        </div>
                    </div>

                    <div class="item border-bottom py-3">
                        <div class="row justify-content-between align-items-center">
                            <strong>Oil Saved</strong>
                        </div>
                    </div>

                    <div class="item border-bottom py-3">
                        <div class="row justify-content-between align-items-center">
                            <strong>Water Saved</strong>
                        </div>
                    </div>
                    <div class="item border-bottom py-3">
                        <div class="row justify-content-between align-items-center">
                            <strong>Energy Saved</strong>
                        </div>
                    </div>
                    <div class="item pt-3">
                        <div class="row justify-content-between align-items-center">
                            <strong>Landfill Saved</strong>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card mb-3 mt-3">
                <div class="card-header">Request List</div>
                <div class="card-body">
                    <ol>
                        <li>Commercial use request</li>
                        <li>Payment request</li>
                        <li>Direct Debit Request</li>
                        <li>Funding Request</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    *@






    @*
        <div class="card">
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a class="nav-link active" data-bs-toggle="pill" href="#payment-method">Payment Methods</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="pill" href="#address-management">Address Management</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="pill" href="#contribution">Contribution</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="pill" href="#request-list">Request List</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="pill" href="#total-request">Total Request(60)</a>
                </li>

            </ul>

            <div class="tab-content">
                <div class="tab-pane fade show active" id="payment-method">
                    <div class="card-body">
                        <div class="card-header p-3 border-bottom-0">
                            <div class="row align-items-center gx-3">
                                <div class="col-auto">
                                    <h6 class="app-card-title">Primary payment method is used by default</h6>
                                </div>
                            </div>
                        </div>
                        <div class="card-body px-4 w-100">

                            <div class="item border-bottom py-3">
                                <div class="row justify-content-between align-items-center">
                                    <div class="col-auto">
                                        <img src="https://codescandy.com/geeks-bootstrap-5/assets/images/creditcard/visa.svg" alt="" class="me-3">
                                        <strong>Credit/Debit Card</strong>
                                        <div class="item-data ms-1">1234*******5678</div>
                                    </div>

                                    <div class="col text-right text-end">
                                        <div class="badge bg-success me-4 font-uppercase">Primary</div>
                                        <div class="dropdown d-inline">
                                            <button class="btn btn-secondary btn-outline btn-xs " type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                                Change
                                            </button>
                                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">

                                                <li><a class="dropdown-item" href="#">Edit</a></li>
                                                <li><a class="dropdown-item" href="#">Remove</a></li>

                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="item border-bottom py-3">
                                <div class="row justify-content-between align-items-center">
                                    <div class="col-auto">
                                        <img src="https://codescandy.com/geeks-bootstrap-5/assets/images/creditcard/paypal.svg" alt="" class="me-3">
                                        <strong>PayPal</strong>
                                        <div class="item-data">Not connected</div>
                                    </div>
                                    <div class="col text-right text-end">
                                        <div class="dropdown">
                                            <button class="btn btn-secondary btn-outline btn-xs " type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                                Change
                                            </button>
                                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                                <li><a class="dropdown-item" href="#">Edit</a></li>
                                                <li><a class="dropdown-item" href="#">Remove</a></li>

                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item border-bottom py-3">
                                <div class="row justify-content-between align-items-center">
                                    <div class="col-auto">
                                        <img src="https://codescandy.com/geeks-bootstrap-5/assets/images/creditcard/americanexpress.svg" alt="" class="me-3">
                                        <strong>American Express ending in 1234</strong>
                                        <div class="item-data">Not connected</div>
                                    </div>
                                    <div class="col text-right text-end">
                                        <div class="dropdown">
                                            <button class="btn btn-secondary btn-outline btn-xs " type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                                Change
                                            </button>
                                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                                <li><a class="dropdown-item" href="#">Edit</a></li>
                                                <li><a class="dropdown-item" href="#">Remove</a></li>

                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="app-card-footer p-4 mt-auto">
                            <a class="btn btn-outline btn-secondary" href="#">Add Manage Payment</a>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="address-management">
                    <div class="card-body">
                        <div class="card-header p-3 border-bottom-0">
                            <div class="row align-items-center gx-3">
                                <div class="col-auto">
                                    <h6 class="app-card-title">Primary Address is used by default</h6>
                                </div>
                            </div>
                        </div>
                        <div class="card-body px-4 w-100">
                            <h6 class="fw-bolder d-inline bg-info">Address 1</h6>
                            <div class="item border-bottom py-3">
                                <div class="row justify-content-between align-items-center">
                                    <div class="col-auto">
                                        <div>
                                            <address class="m-b-none" type="Shop" addressline="dasfefa, Gautam Nagar Jhuggies Area" city="Bhopal" locality="Madhya Pradesh" pincode="6748978" state="Madhya Pradesh"></address>
                                        </div>
                                    </div>

                                    <div class="col text-right text-end">
                                        <div class="badge bg-success me-4 font-uppercase">Primary</div>
                                        <div class="dropdown d-inline">
                                            <button class="btn btn-secondary btn-outline btn-xs " type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                                Change
                                            </button>
                                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">

                                                <li><a class="dropdown-item" href="#">Edit</a></li>
                                                <li><a class="dropdown-item" href="#">Remove</a></li>

                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card-body px-4 w-100">
                            <h6 class="fw-bolder d-inline bg-info">Address 2</h6>
                            <div class="item border-bottom py-3">
                                <div class="row justify-content-between align-items-center">
                                    <div class="col-auto">
                                        <div>
                                            <address class="m-b-none" type="Shop" addressline="dasfefa, Gautam Nagar Jhuggies Area" city="Bhopal" locality="Madhya Pradesh" pincode="6748978" state="Madhya Pradesh"></address>
                                        </div>
                                    </div>

                                    <div class="col text-right text-end">

                                        <div class="dropdown d-inline">
                                            <button class="btn btn-secondary btn-outline btn-xs " type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                                Change
                                            </button>
                                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">

                                                <li><a class="dropdown-item" href="#">Edit</a></li>
                                                <li><a class="dropdown-item" href="#">Remove</a></li>

                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="app-card-footer p-4 mt-auto">
                            <a class="btn btn-outline btn-secondary" href="#">Add Address</a>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="contribution">

                    <div class="card-body px-4">

                        <div class="item border-bottom py-3">
                            <div class="row justify-content-between align-items-center">
                                <strong>Trees Saved</strong>
                            </div>
                        </div>

                        <div class="item border-bottom py-3">
                            <div class="row justify-content-between align-items-center">
                                <strong>Oil Saved</strong>
                            </div>
                        </div>

                        <div class="item border-bottom py-3">
                            <div class="row justify-content-between align-items-center">
                                <strong>Water Saved</strong>
                            </div>
                        </div>
                        <div class="item border-bottom py-3">
                            <div class="row justify-content-between align-items-center">
                                <strong>Energy Saved</strong>
                            </div>
                        </div>
                        <div class="item pt-3">
                            <div class="row justify-content-between align-items-center">
                                <strong>Landfill Saved</strong>
                            </div>
                        </div>

                    </div>

                </div>

                <div class="tab-pane" id="request-list">
                    <div class="card-body">
                        <ol>
                            <li class="mt-2">Commercial use request</li>
                            <li class="mt-2">Payment request</li>
                            <li class="mt-2">Direct Debit Request</li>
                            <li class="mt-2">Funding Request</li>
                        </ol>
                    </div>
                </div>

                <div class="tab-pane fade" id="total-request">
                    <div class="card-body">

                        <ul class="nav nav-pills">
                            <li class="nav-item nav-link"><strong>total submitted (20)</strong></li>
                            <li class="nav-item nav-link"><strong>total handled (20)</strong></li>
                            <li class="nav-item nav-link"><strong>total cancelled (20)</strong></li>
                        </ul>

                    </div>
                </div>

            </div>
        </div>
    <div class="small font-trans text-muted pb-1">EMAIL</div>
                                                <span>ssinghlodhi08@gmail.com</span>
*@


<div class="row">
    <div class="col-md-3">
        <div class="card mb-3">
            <h6 class="header-title ms-3 mt-3">Payment Details</h6>
            <div class="card-body px-0">
                <div class="ps-3 d-flex align-items-center">
                    <div class="flex-fill">
                        <div class="small font-trans text-muted mb-2"><strong>DEFAULT PAYMENT METHOD</strong></div>
                        <span>N/A</span>
                    </div>
                    <button class="btn btn-outline btn-xs float-end me-3" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-pencil-square fs-6"></i>                        
                    </button>
                </div>

                <hr />

                <div class="ps-3 d-flex align-items-center">
                    <div class="flex-fill">
                        <div class="small font-trans text-muted mb-2"><strong>UPI ADDRESS</strong> </div>
                        <span>ghshb74@oksbi</span>
                    </div>
                    <button class="btn btn-outline btn-xs float-end me-3" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-pencil-square fs-6"></i>
                    </button>
                </div>

                <div class="d-flex align-items-center ps-3 mt-4">
                    <div class="flex-fill">
                        <div class="small font-trans text-muted mb-2"><strong>BANK ACCOUNT DETAILS</strong></div>
                        <div>
                            <span>4767834674647375</span>
                            <span class="small text-muted mt-2 mb-2 ms-1">(IFSC:<span class="ms-1">SBIN8834592)</span></span>
                        </div>
                    </div>
                    <div class="me-3">
                        <button class="btn btn-outline btn-xs d-inline float-end" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-pencil-square fs-6"></i>
                        </button>
                    </div>
                </div>

                <div class="ps-3 d-flex align-items-center mt-4">
                    <div class="flex-fill">
                        <div class="small font-trans text-muted mb-2"><strong>PAYTM WALLET NO.</strong></div>
                        <span>7474847885</span>
                    </div>
                    <button class="btn btn-outline btn-xs float-end me-3" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-pencil-square fs-6"></i>
                    </button>
                </div>

            </div>
        </div>


        <div class="card mb-3">
            <div class="d-flex align-items-center">
                <div class="flex-fill">
                    <h6 class="header-title ms-3 mt-3">Address</h6>
                </div>
                <div>
                    <button class="btn btn-circle in btn-default me-3 float-end" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa fa-plus"></i>
                    </button>
                </div>
            </div>
            <div class="card-body px-0 ">
                <div class="ps-3">
                    <div class="small font-trans text-muted mb-2"><strong>DEFAULT ADDRESS</strong></div>
                    <div class="d-flex align-items-center">
                        <div class="flex-fill">
                            <address class="m-b-none d-inline" type="Shop" addressline="dasfefa, Gautam Nagar Jhuggies Area" city="Bhopal" pincode="6748978" state="Madhya Pradesh"></address>
                        </div>
                        <div>
                            <button class="btn btn-outline btn-xs me-3 float-end" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="bi bi-pencil-square fs-6"></i>
                            </button>
                        </div>
                    </div>
                </div>

                <hr />

                <div class="ps-3">
                    <div class="small font-trans text-muted mb-2"><strong>OTHER ADDRESS</strong></div>
                    <div class="d-flex align-items-center">
                        <div class="flex-fill">
                            <address class="m-b-none d-inline" type="Shop" addressline="dasfefa, Gautam Nagar Jhuggies Area" city="Bhopal" pincode="6748978" state="Madhya Pradesh"></address>
                        </div>
                        <div class="dropdown me-3 float-end">
                            <button class="btn btn-outline btn-xs" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="bi bi-three-dots-vertical fs-6"></i>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                <li><a class="dropdown-item" href="#">Edit</a></li>
                                <li><a class="dropdown-item" href="#">Delete</a></li>
                                <li><a class="dropdown-item" href="#">Set as Default</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="mt-3 d-flex align-items-center">
                        <div class="flex-fill">
                            <address class="m-b-none d-inline" type="Shop" addressline="dasfefa, Gautam Nagar Jhuggies Area" city="Bhopal" pincode="6748978" state="Madhya Pradesh"></address>
                        </div>
                        <div class="dropdown me-3 float-end">
                            <button class="btn btn-outline btn-xs" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="bi bi-three-dots-vertical fs-6"></i>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                <li><a class="dropdown-item" href="#">Edit</a></li>
                                <li><a class="dropdown-item" href="#">Delete</a></li>
                                <li><a class="dropdown-item" href="#">Set as Default</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="card mb-3">
            <h6 class="header-title ms-3 mt-3">Impact</h6>
            <div class="card-body px-4 w-100">

                <div class="item border-bottom py-3">
                    <div class="row justify-content-between align-items-center">
                        <span>Trees Saved</span>
                    </div>
                </div>

                <div class="item border-bottom py-3">
                    <div class="row justify-content-between align-items-center">
                        <span>Oil Saved</span>
                    </div>
                </div>

                <div class="item border-bottom py-3">
                    <div class="row justify-content-between align-items-center">
                        <span>Water Saved</span>
                    </div>
                </div>
                <div class="item border-bottom py-3">
                    <div class="row justify-content-between align-items-center">
                        <span>Energy Saved</span>
                    </div>
                </div>
                <div class="item pt-3">
                    <div class="row justify-content-between align-items-center">
                        <span>Landfill Saved</span>
                    </div>
                </div>
            </div>
        </div>

    </div>



    <div class="col-md-9">
        <div class="card mb-3">
            <h6 class="header-title ms-3 mt-3">Purchase Summary Details</h6>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="card-body border">
                            <span class="small font-trans text-muted mb-2 fs-6"><strong>REQUEST</strong></span>
                           
                            <div class="d-flex align-items-center mt-1">
                                <div class="flex-fill">
                                    <div class="py-1 pe-3">
                                        <span class="font-trans">submitted :</span>
                                        <span class="ms-1">20</span>
                                    </div>
                                </div>

                                <div class="flex-fill">
                                    <div class="py-1 pe-3 text-center">
                                        <span class="font-trans">handled :</span>
                                        <span class="ms-1">20</span>
                                    </div>
                                </div>

                                <div class="flex-fill">
                                    <div class="py-1 text-center">
                                        <span class="font-trans">cancelled :</span>
                                        <span class="ms-1">20</span>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="card-body text-center border">
                            <span class="fw-bold fs-6">5</span>
                            <small class="fw-bold">DAYS</small>
                            <div class="small font-trans text-muted"><strong>REQUEST INTERVAL</strong> </div>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class=" card-body text-center border">
                            <span class="fw-bold fs-6">2000</span>
                            <div class="small font-trans text-muted"><strong>AVERAGE BILL AMOUNT</strong> </div>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="card-body text-center border">
                            <span class="fw-bold fs-6">1000</span>
                            <div class="small font-trans text-muted"><strong>MONEY EARNED</strong> </div>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="card-body text-center border">
                            <span class="fw-bold fs-6">
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                            </span>
                            <div class="small font-trans text-muted"><strong>RATING</strong> </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>






