@using ChartJs.Blazor.LineChart
@using TKW.AdminPortal.Components.SharedComponents
@namespace TKW.AdminPortal.Components.Dashboard
<div class="mb-3">
    <small class="fw-bold text-secondary small">Request Week Trend</small>
    <div class="card rounded-0 border-0 shadow-sm mt-2">
        <div class="card-body">
            <Chart Config="_config" @ref="_chart"></Chart>
        </div>
    </div>
</div>



@code {
    private const int DayCount = 6;
    private LineConfig _config;
    private Chart _chart;

    protected override void OnInitialized()
    {
        _config = new LineConfig
        {
            Options = new LineOptions
            {
                Responsive = true,
                MaintainAspectRatio = true,

                Legend = new Legend
                {
                    Display = true,
                    Position = Position.Top
                },
                Title = new OptionsTitle
                {
                    Display = false,
                    Text = "ChartJs.Blazor Line Chart"
                },
                Tooltips = new Tooltips
                {
                    Mode = InteractionMode.Nearest,
                    Intersect = true
                },
                Hover = new Hover
                {
                    Mode = InteractionMode.Nearest,
                    Intersect = true
                },
                Scales = new Scales
                {
                    YAxes = new List<CartesianAxis>
                    {
                        new LinearCartesianAxis
                        {
                            Ticks = new LinearCartesianTicks
                            {
                                StepSize = 20,
                            }
                        }
                        //Ticks = new LinearCartesianTicks { }
                    }
                },
                


            }
        };

        IDataset<int> CancelledRequestDataSet = new LineDataset<int>(SampleUtils.RandomScalingFactor(DayCount))
        {
            Label = "Cancelled",
            BackgroundColor = ColorUtil.ColorString(243, 32, 19, 0.2),
            Fill = true,
            PointRadius = 0,
        };
        IDataset<int> ScheduledRequestDataSet = new LineDataset<int>(SampleUtils.RandomScalingFactor(DayCount))
        {
            Label = "Scheduled",
            BackgroundColor = ColorUtil.ColorString(220, 220, 220, 0.7),
            Fill = true,
            PointRadius = 0,
        };
        IDataset<int> HandledRequestDataSet = new LineDataset<int>(SampleUtils.RandomScalingFactor(DayCount))
        {
            Label = "Handled",
            BackgroundColor = ColorUtil.ColorString(98, 203, 49, 0.5),
            Fill = true,
            PointRadius = 0,

        };



        _config.Data.Labels.AddRange((SampleUtils.SampleSource.Take(DayCount)));
        _config.Data.Datasets.Add(CancelledRequestDataSet);
        _config.Data.Datasets.Add(ScheduledRequestDataSet);
        _config.Data.Datasets.Add(HandledRequestDataSet);
    }

}