<div class="mb-3">
    <h6 class="font-weight-bold text-secondary">Requests</h6>
    <div class="card border-0 shadow-sm">
        <div class="card-body">
            <div class="text-center">
                <h3 class="text-secondary font-weight-bold mb-0">120</h3>
                 <small>Today's Request</small>
            </div>
            <div class="d-flex">
                <div class="card text-center border-0 px-4 py-2 m-2 w-50 shadow-sm">
                    <h6 class="text-warning mb-0 font-weight-bold">65</h6>
                    <small class="font-weight-bold text-secondary">Assigned</small>
                </div>
                <div class="card text-center border-0 px-4 py-2 m-2 w-50 shadow-sm">
                    <h6 class="text-secondary mb-0 font-weight-bold">56</h6>
                    <small class="font-weight-bold text-secondary">UnAssigned</small>
                </div>
            </div>
            <div class="d-flex">
                <div class="card text-center border-0 px-4 py-2 m-2 w-50 shadow-sm">
                    <h6 class="text-success mb-0 font-weight-bold">82</h6>
                    <small class="font-weight-bold text-secondary">Completed</small>
                </div>
                <div class="card text-center border-0 px-4 py-2 m-2 w-50 shadow-sm">
                    <h6 class="text-danger mb-0 font-weight-bold">41</h6>
                    <small class="font-weight-bold text-secondary">Cancelled</small>
                </div>
            </div>
            <div class="d-flex">
                <div class="card text-center border-0 px-4 py-2 m-2 w-50 shadow-sm">
                    <h6 class="mb-0 font-weight-bold">61</h6>
                    <small class="font-weight-bold text-secondary">by PickupBoy</small>
                </div>
                <div class="card text-center border-0 px-4 py-2 m-2 w-50 shadow-sm">
                    <h6 class="mb-0 font-weight-bold">71</h6>
                    <small class="font-weight-bold text-secondary">Rescheduled</small>
                </div>
            </div>
        </div>
    </div>
</div>
@code {

}
