<div class="mb-3">
    <h6 class="fw-bold text-secondary small">Purchase</h6>
    <div class="card rounded-0 border-0" style="box-shadow: 0px 0px 10px rgba(165, 165, 165, 0.25);">
        <div class="card-body p-3">
            <small class="text-secondary">Today's Purchase Summary</small> 
            <div class="d-flex d-inline-block mt-3">
                <div class="h5 fw-bold"> ₹ 478.5</div>
                <span class="small text-secondary fw-bold ps-2 pt-1"> Amount </span>
            </div>
        </div>
    </div>
</div>

@code {

}
