@page
@model TKW.AdminPortal.Areas.UserProfile.Pages.IndexModel
@using Newtonsoft.Json
@{
    ViewBag.Title = "UserProfile";
}
<pagetitle title="User Details" description="All details of the User.">
</pagetitle>
<div class="content">
    

    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body profile-user-box">
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="row align-items-center">
                                <div class="col-auto">
                                    <div class="avatar-lg">
                                        <img src="/images/default/profilex124.png" alt="" class="rounded-circle img-thumbnail">
                                    </div>
                                </div>
                                <div class="col">
                                    <div>
                                        <h4 class="mt-1 mb-1">Shailendra Singh</h4>
                                        

                                        <ul class="mb-0 list-inline mt-4">
                                            <li class="list-inline-item me-3">
                                                <p class="mb-0 font-13"><strong>Mobile Number</strong></p>
                                                <h6 class="mb-1">9669724508</h6>

                                            </li>

                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="text-center mt-sm-0 mt-3 text-sm-end">
                                <button type="button" class="btn btn-primary btn-outline ">
                                    Edit Profile
                                </button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body pb-0">
                    <div class="text-start">
                        <p><strong>Full Name :</strong> <span class="ms-2"> Michael A. Franklin</span></p>

                        <p><strong>Gender :</strong><span class="ms-2"> Male</span></p>

                        <p><strong>Mobile :</strong><span class="ms-2"> 9669724508</span></p>

                        <p><strong>Email :</strong> <span class="ms-2"> ssinghlodhi@gmail.com</span></p>

                        <p><strong>Date Of Birth :</strong> <span class="ms-2"> 8 nov 1998</span></p>

                        <p><strong>Payment Method :</strong><span class="ms-2"> UPI</span></p>

                    </div>
                </div>
            </div>

            <div class="card mt-3">
                <div class="card-body pb-0">
                    <p><strong>Joining Date :</strong><span class="ms-2"> 25 jan 2021</span></p>
                    <p><strong>Material Insights :</strong><span class="ms-2">Average</span></p>
                </div>
            </div>

            <div class="card mt-3">
                <div class="card-header">Rating and Feedback</div>
                <div class="card-body p-sm">
                    <span>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                    </span>
                </div>
            </div>
        </div>


        @* left side part profile

            <div class="col-md-4">
            <div class="hpanel">
                <div class="panel-body p-0">
                    <div class="card shadow-sm">
                        <div class="card-header p-3 border-bottom-0">
                            <div class="row align-items-center gx-3 ">
                                <div class="col-auto ">
                                    <div class="app-icon-holder">
                                        <svg width="3em" height="3em" viewBox="0 0 16 16" class="bi bi-person" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" d="M10 5a2 2 0 1 1-4 0 2 2 0 0 1 4 0zM8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm6 5c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"></path>
                                        </svg>
                                    </div>

                                </div>
                                <div class="col-auto ">
                                    <h4 class="app-card-title">Profile</h4>
                                </div>
                                <div class="col-auto text-end ms-auto">
                                    <a class="btn btn-outline btn-xs btn-primary d-inline" href="#">Edit Profile</a>
                                </div>
                            </div>
                        </div>
                        <div class="card-body px-4 w-100 pb-0">
                            <div class="item border-bottom py-3">
                                <div class="row justify-content-between align-items-center">
                                    <div class="col-auto">
                                        <div class="item-label mb-2 text-center"><strong>Photo</strong></div>
                                        <div class="item-data"><img class="profile-image rounded-circle" src="/images/default/profilex124.png" alt=""></div>
                                    </div>
                                    <div class="col ms-5 ">
                                        <div>
                                            <span class="item-label"><strong>Name:</strong></span>
                                            <span class="item-data">  Shailendra Singh</span>
                                        </div>
                                        <div class="mt-1">
                                            <span class="item-label"><strong>Gender:</strong></span>
                                            <span class="item-data">  Male</span>
                                        </div>
                                        <div class="mt-1">
                                            <span class="item-label"><strong>Email</strong></span>
                                            <span class="item-data">ssinghlodhi08@gmail.com</span>
                                        </div>
                                        <div class="mt-1">
                                            <span class="item-label"><strong>Date Of Birth:</strong></span>
                                            <span class="item-data">  8 Nov 1998</span>
                                        </div>
                                        <div class="mt-1">
                                            <span class="item-label"><strong>Mobile Number:</strong></span>
                                            <span class="item-data">9669724508</span>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="item border-bottom py-3">
                                <div class="row justify-content-between align-items-center">
                                    <div class="col-auto">
                                        <div class="item-label"><strong>Date Of Birth</strong></div>
                                        <div class="item-data">8 Nov 1998</div>
                                    </div>
                                    <div class="col text-right text-end">
                                        <a class="btn btn-outline btn-xs btn-primary" href="#">Change</a>
                                    </div>
                                </div>
                            </div>
                            <div class="item border-bottom py-3">
                                <div class="row justify-content-between align-items-center">
                                    <div class="col-auto">
                                        <div class="item-label"><strong>Payment Method</strong></div>
                                        <div class="item-data">UPI</div>
                                    </div>
                                    <div class="col text-right text-end">
                                        <a class="btn btn-outline btn-xs btn-primary" href="#">Change</a>
                                    </div>
                                </div>
                            </div>
                            <div class="item border-bottom py-3">
                                <div class="row justify-content-between align-items-center">
                                    <div class="col-auto">
                                        <div class="item-label"><strong>Email</strong></div>
                                        <div class="item-data">ssinghlodhi08@gmail.com</div>
                                    </div>
                                    <div class="col text-right text-end">
                                        <a class="btn btn-outline btn-xs btn-primary" href="#">Change</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="hpanel m-b-sm">
                <div class="panel-heading">Address</div>
                <div class="panel-body p-sm">
                    <div>
                        <address class="m-b-none" type="Shop" addressline="dasfefa, Gautam Nagar Jhuggies Area" city="Bhopal" locality="Madhya Pradesh" pincode="6748978" state="Madhya Pradesh"></address>
                    </div>
                </div>
            </div>

            <div class="hpanel m-b-sm">
                <div class="panel-heading">Rating and Feedback</div>
                <div class="panel-body p-sm">
                    <span>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                    </span>
                </div>
            </div>


        </div>*@
        <div class="col-md-8">
            <div id="userprofilelist">
                <div class="card">
                    <div class="card-body">
                        <div class="text-center">
                            <img alt="Loading.." src="/images/ripple.gif" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<form id="userprofileform_ajax" method="post"></form>
@section Styles{
    <link href="~/css/peicon7stroke.min.css" rel="stylesheet" />

}
@section Scripts{
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCYTvgY5DS7ipPNzOgxYmJYeZBe4r03qS4"></script>


    <script>
        $(function () {

            var model =@Html.Raw(JsonConvert.SerializeObject(new { Filter = Model.Filter, PageNo = Model.PageNo, PageSize = Model.PageSize }));
             $.ajax({
                url: '@(Url.Page("Ajax/UserProfile"))',
                 data: model,
                 beforeSend: function (xhr) {
                     xhr.setRequestHeader("RequestVerificationToken",
                         $("#userprofileform_ajax input").val());
                 },
                method: 'POST',
                 success: function (data) { $('#userprofilelist').html(data); }
             });


        });
    </script>
}

