@page
@model TKW.AdminPortal.Areas.UserProfile.Pages.IndexModel
@{
    ViewBag.Title = "UserProfile";
}
<pagetitle title="User Details" description="All details of the User.">
</pagetitle>
<div class="content">
    <div class="row">
        <div class="col-md-3">
            <div class="hpanel">
                <div class="panel-body p-0">
                    <div class="list-group">
                        <div class="list-group-item">
                            <div class="d-flex mb-2">
                                <div class="pe-3">
                                    <img src="/images/default/profilex124.png" class="rounded-circle" alt="logo" height="38" width="38">
                                </div>
                                <div>
                                    <div class="fw-bold d-inline">Shailendra</div>
                                    <div class="fw-bolder d-inline ms-1">(M)</div>
                                    <div class="fw-light">(9669724508)</div>
                                </div>

                            </div>
                        </div>
                        <div class="list-group-item">
                            <div class="d-flex mb-2">
                                <div>
                                    <div class="fw-bold">Email</div>
                                    <div class="mt-1"><small class="font-light">ssinghlodhi08@gmail.com</small></div>
                                </div>
                                <div class="ms-auto me-3">
                                    <div class="fw-bold">Date Of Birth</div>
                                    <div class="mt-2"><span class="h6">8 October 1998</span></div>
                                </div>
                            </div>
                        </div>

                        <div class="list-group-item">
                            <div class="mb-2">
                                <div class="fw-bold">Default Payment Address</div>
                                <div class="mt-2 ms-5"><span class="h6">UPI</span></div>
                            </div>
                            <div class="mt-4">
                                <div class="d-inline ms-5"><a href="#" class="btn btn-outline btn-xs btn-primary">Add</a></div>
                                <div class="d-inline ms-5"><a href="#" class="btn btn-outline btn-xs btn-primary">Edit</a></div>
                                <div class="d-inline ms-5"><a href="#" class="btn btn-outline btn-xs btn-primary">Remove</a></div>
                            </div>
                        </div>

                        <div class="list-group-item">

                            <div class="mb-2">
                                <div class="fw-bold">Address</div>
                                <div class="mt-1"><small class="font-light">Bank Nagar Ashoka Garden madhya pradesh-477001 </small></div>
                            </div>
                            <div class="mt-4">
                                <div class="d-inline ms-5"><a href="#" class="btn btn-outline btn-xs btn-primary">Add</a></div>
                                <div class="d-inline ms-5"><a href="#" class="btn btn-outline btn-xs btn-primary">Edit</a></div>
                                <div class="d-inline ms-5"><a href="#" class="btn btn-outline btn-xs btn-primary">Remove</a></div>
                            </div>

                        </div>
                        <div class="list-group-item text-center">
                            <button class="btn btn-success btn-block btn-sm ">Edit Profile</button>
                        </div>
                    </div>
                </div>

            </div>
            <div class="hpanel">
                <div class="panel-body p-0">
                    <div class="list-group">
                        <div class="list-group-item">
                            <div class="d-flex mb-2">
                                <div>
                                    <div class="fw-bold">User Joining Date</div>
                                    <div class="mt-2"><span class="h6">8 October 2000</span></div>
                                </div>
                                <div class="ms-auto me-5">
                                    <div class="fw-bold">Ageing</div>
                                    <div class="mt-2"><span class="h6">20d</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="list-group-item">
                            <div class="d-flex mb-2">
                                <div>
                                    <div class="fw-bold">Request Complition</div>
                                    <div class="mt-2 text-center"><span class="h6">90%</span></div>
                                </div>
                                <div class="ms-auto me-2">
                                    <div class="fw-bold">Request Cancellation</div>
                                    <div class="mt-2 text-center"><span class="h6">20%</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="list-group-item">
                            <div class="d-flex mb-2">
                                <div>
                                    <div class="fw-bold">Money Earned</div>
                                    <div class="mt-2 text-center"><span class="h6">1000</span></div>
                                </div>
                                <div class="ms-auto me-4">
                                    <div class="fw-bold">Request Frequency</div>
                                    <div class="mt-2 text-center"><span class="h6">20</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="list-group-item">
                            <div class="d-flex mb-2">
                                <div>
                                    <div class="fw-bold">Average Handle Time</div>
                                    <div class="mt-2 text-center"><span class="h6">20d</span></div>
                                </div>
                                <div class="ms-auto me-4">
                                    <div class="fw-bold">Materia Insights</div>
                                    <div class="mt-2 text-center"><span class="h6">Good</span></div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="card mb-2">
                <div class="card-body">
                    <div class="fw-bold">Rating</div>
                    <span>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                    </span>
                </div>
            </div>
            <ul class="nav nav-pills flex-row mb-4" id="nav_pills_pickup">
                <li class="nav-item dropdown flex-fill">
                    <button class="nav-link dropdown-toggle px-4 py-3 bg-white" id="Request_button" data-bs-toggle="dropdown" data-bs-target="#pills-home-Request" href="#" data-loaded="false">Request</button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="UserProfile/Ajax/Requests/cancelled">Cancelled</a></li>
                        <li><a class="dropdown-item" href="#">Handled</a></li>
                        <li><a class="dropdown-item" href="#">Submitted</a></li>

                    </ul>
                </li>

                <li class="nav-item flex-fill">
                    <button class="nav-link px-4 py-3 bg-white" id="contribution_button" data-bs-target="#pills-home-contribution" data-bs-toggle="tab" data-loaded="false" aria-current="page" @*data-load-url="@Url.Page("/Ajax/Requests",new { Model.Tab, Model.PickupSession.Id, EndedSession = hasEnded})"*@>Contribution</button>
                </li>
                <li class="nav-item flex-fill">
                    <button class="nav-link px-4 py-3 bg-white" id="transaction_button" data-bs-target="#pills-home-transaction" data-bs-toggle="tab" data-loaded="false" aria-current="page" data-load-url="@Url.Page("/Ajax/Modal/Transaction")">Transaction Details</button>
                </li>
                <li class="nav-item flex-fill">
                    <button class="nav-link px-4 py-3 bg-white" id="transaction_button" data-bs-target="#pills-home-transaction" data-bs-toggle="tab" data-loaded="false" aria-current="page" @*data-load-url="@Url.Page("/Ajax/Requests",new { Model.Tab, Model.PickupSession.Id, EndedSession = hasEnded})"*@>Request List</button>
                </li>
            </ul>
            <div class="tab-content" id="tab_content">
                <div class="tab-pane fade" id="pills-home-request" role="tabpanel" aria-labelledby="pills-home-tab">

                </div>
                <div class="tab-pane fade" id="pills-home-contribution" role="tabpanel" aria-labelledby="pills-home-tab">

                </div>
                <div class="tab-pane fade" id="pills-home-transaction" role="tabpanel" aria-labelledby="pills-home-tab">

                </div>
            </div>
        </div>
    </div>
</div>

@section Styles{
    <link href="~/css/peicon7stroke.min.css" rel="stylesheet" />

}
@section Scripts{
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCYTvgY5DS7ipPNzOgxYmJYeZBe4r03qS4"></script>


    <script>
        $(function () {
            

            $("#nav_pills_pickup button").click(function () {
                $("#nav_pills_pickup button").addClass("bg-white");
                $(this).removeClass("bg-white");
            });



        });
    </script>

    




}

