@page
@model TKW.AdminPortal.Areas.Warehouse.Pages.Ajax.Modal.AddSegregation.AddPurchaseMaterialModel
@{
}

<modal-header title="Add Segregation" close-button="true"></modal-header>
<form method="post"
      data-ajax="true"
      data-ajax-url="@Url.Page("AddPurchaseMaterial")"
      data-ajax-method="POST"
      data-ajax-update="#ActionModalContent"
      data-ajax-begin="$('#addFieldSet').attr('disabled','');"
      data-ajax-complete="$('#addFieldSet').removeAttr('disabled');">
    <fieldset id="addFieldSet">
        <modal-body>
            <div class="mb-3">
                <label asp-for="PurchaseMaterialId" class="col-form-label fw-bold"></label>
                <select asp-items="Model?.PurchaseMaterials" asp-for="PurchaseMaterialId" class="form-control">
                </select>
                <span asp-validation-for="PurchaseMaterialId" class="text-danger small"></span>
            </div>
        </modal-body>
        <modal-footer>
            <button type="submit" class="btn btn-success">Proceed</button>
        </modal-footer>
    </fieldset>
    <input asp-for="Id" type="hidden" />
</form>
<script>
    $(function () {
         $("#@Html.IdFor(m=>m.PurchaseMaterialId)").select2AutoParent({ placeholder: "Select Unsegregated Material" });
    });
</script>
