@page
@model TKW.AdminPortal.Areas.Material.Pages.Ajax.Modal.UpdateRateListModel
@{
    Layout = null;
}

<modal-header title="Edit Material Rate" close-button="true"></modal-header>
@if (Model.IsDone)
{
    <modal-body>
        <div class="text-center">
            <i class="fa fa-4x fa-check-circle text-success"></i><br />
            <h4>Material has been updated.</h4>
        </div>
    </modal-body>
}
else
{
    <form method="post"
      data-ajax="true"
      data-ajax-url="@Url.Page("UpdateRateList")"
      data-ajax-method="POST"
      data-ajax-update="#ActionModalContent">
      <fieldset>
        <modal-body>
            <div class="row">
                <div class="col mb-3">
                    <input asp-for="Material.PurchaseMaterialId" type="hidden" />
                    <label class="fw-bold" for="MaterialName">Material Name </label>
                    <input class="form-control-plaintext fs-5"  asp-for="Material.PurchaseMaterialName" type="text" readonly/>
                </div>
            </div>
            <div class="row">
                <div class="col-6 mb-3">
                    <label class="form-label fw-bold">Default Rate</label>
                    <div class="input-group">
                        <input class="form-control" type="number" step="0.01" asp-for="Material.Rate" placeholder="Rate" />
                        <span class="input-group-text">/@Model.Material.Unit</span>
                    </div>   
                        <span asp-validation-for="Material.Rate" class="text-danger small"></span> <br />
                        @if(Model.Material.Rate < 0)
                        {
                            <span class="text-danger small">Rate should be greater than 0.</span>
                        }
                        @if(Model.Material.Rate < Model.Material.MinRate || Model.Material.Rate > Model.Material.MaxRate)
                        {
                            <span class="text-danger small">Rate should be between Min and Max Rate.</span> <br />
                        }
                    <label class="form-label fw-bold" >Rate Range</label>   
                        <div class="input-group">
                            <input class="form-control" type="number" step="0.01" asp-for="Material.MinRate"  placeholder="Min" />                                                                        
                            <span class="input-group-text">-</span>                                            
                            <input class="form-control"  type="number" step="0.01" asp-for="Material.MaxRate" placeholder="Max" />                            
                        </div>
                        <span asp-validation-for="Material.MinRate" class="text-danger small"></span> <br />
                        <span asp-validation-for="Material.MaxRate" class="text-danger small"></span>
                         
                        @if(Model.Material.MinRate > Model.Material.Rate)
                        {
                            <span class="text-danger small">Min Rate should be less than or equal to Default Rate.</span>
                        }
                        @if(Model.Material.MinRate < 0)
                        {
                            <span class="text-danger small">Min Rate should be greater than 0.</span>
                        }
                        @if(Model.Material.MaxRate < Model.Material.Rate)
                        {
                            <span class="text-danger small">Max Rate should be greater than or equal to Default Rate.</span>
                        }
                        @if(Model.Material.MaxRate < 0)
                        {
                            <span class="text-danger small">Max Rate should be greater than 0.</span>
                        }
                        
                    </div>
                <div class="col-6 ps-5 ">
                    <label for="includeCheckbox" class="fw-bold ps-3 form-label">Visibility </label> <br />
                    <div class="text-left checkbox checkbox-circle checkbox-success d-inline-block">
                        <input class="visibility-checkbox first " type="checkbox" asp-for="Material.IncludeInSellerRateList" id="includeCheckbox" />
                        <label for="includeCheckbox" class="form-label">Seller</label>
                    </div>                
                  <div class="text-left checkbox checkbox-circle checkbox-success">
                    <input class="visibility-checkbox second" type="checkbox" asp-for="Material.IncludeInPickupExecutiveRateList"
                           id="includeCheckbox_2" />
                    <label for="includeCheckbox_2" class="form-label">Pickup executive</label>
                  </div>
                </div>
            </div>
                              
        </modal-body>
        <modal-footer>
                <button class="btn btn-success" type="submit">Update</button>
        </modal-footer>
         </fieldset>
    </form>

@section Styles{
<link href="~/css/bootstrap-checkbox.min.css" asp-append-version="true" rel="stylesheet" />
}

}
