@model StoreModel
@{
}
<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
            <label asp-for="WarehouseId" class="control-label"></label>
            <select asp-for="WarehouseId" asp-items="@Model.Warehouses" class="form-control"></select>
            <span asp-validation-for="WarehouseId" class="text-danger small"></span>
        </div>
    </div>
</div>    