@page
@model TKW.AdminPortal.Areas.Request.Pages.Add.IndexModel
@{
    ViewBag.Title = "Add request";
}
    <pagetitle title="Add Request" description="Add new or handled requests.">
        <a href="@Url.Page("../Index")" class="btn btn-primary btn-outline btn-sm"><span class="fa fa-list"></span> Back to List</a>
    </pagetitle>
<div class="content">
    <div class="hpanel" style="max-width:500px; margin:0 auto;">
        <div class="panel-body">
            <form method="post">
                <div class="mb-3">
                    <label class="col-form-label fw-bold" asp-for="MobileNo"></label>
                    <input class="form-control" asp-for="MobileNo" placeholder="Enter Mobile Number" />
                    <span asp-validation-for="MobileNo" class="text-danger small"></span>
                </div>
                @if (Model.IsGlobalAdmin) { 
                    <div class="d-flex flex-row justify-content-between align-items-center">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" asp-for="IsBulkRequest"/>
                            <label class="form-check-label" asp-for="IsBulkRequest">Is bulk request?</label>
                        </div>
                        <button class="btn btn-info" type="submit">Proceed</button>
                    </div>
            }
            else
            {
            <div class="text-end">
                <button class="btn btn-info" type="submit">Proceed</button>
            </div>
            }
                   
            </form>
        </div>
    </div>
</div>