@page "{Id:int}"
@model TKW.AdminPortal.Areas.UserProfile.Pages.Ajax.Modal.EditUpiAddressModel
@{
}

<modal-header title="Edit Upi Address" close-button="true"></modal-header>

@if (Model.IsDone)
{
    <modal-body>
        <div class="text-center">
            <i class="fa fa-4x fa-check-circle text-success"></i><br />
            <div class="h5 mt-3">Upi Address updated.</div>
        </div>
    </modal-body>
}

else
{
    @if (!string.IsNullOrEmpty(Model.ErrorMessage))
    {
        <div class="alert alert-danger">@Model.ErrorMessage</div>
    }
    <form method="post"
          data-ajax="true"
          data-ajax-url="@Url.Page("EditUpiAddress", new { Model.Id })"
          data-ajax-begin="$('#editUpiAddressFieldSet').attr('disabled','');"
          data-ajax-complete="$('#editUpiAddressFieldSet').removeAttr('disabled');"
          data-ajax-method="post"
          data-ajax-update="#EditUpiAddressModalContent">
        <fieldset id="editUpiAddressFieldSet">
            <modal-body>
                <label class="col-form-label fw-bold">Upi Address</label><br />
                <input class="form-control" placeholder="Upi Address" />
            </modal-body>
            <modal-footer>
                <button type="button" class="btn btn-default" data-bs-dismiss="modal" aria-label="close">Cancel</button>
                <button class="btn btn-success" type="submit">Edit Upi</button>
            </modal-footer>


        </fieldset>


    </form>
}
