@page "{Id:int}"
@model TKW.AdminPortal.Areas.UserProfile.Pages.Ajax.Modal.EditBankAccountDetailsModel
@{
}

<modal-header title="Edit Bank Details" close-button="true"></modal-header>

@if (Model.IsDone)
{
    <modal-body>
        <div class="text-center">
            <i class="fa fa-4x fa-check-circle text-success"></i><br />
            <div class="h5 mt-3">Bank Account Details updated..</div>
        </div>
    </modal-body>
}

else
{
    @if (!string.IsNullOrEmpty(Model.ErrorMessage))
    {
        <div class="alert alert-danger">@Model.ErrorMessage</div>
    }
    <form method="post"
          data-ajax="true"
          data-ajax-url="@Url.Page("EditBankAccountDetails", new { Model.Id })"
          data-ajax-begin="$('#editBankAccountDetailsFieldSet').attr('disabled','');"
          data-ajax-complete="$('#editBankAccountDetailsFieldSet').removeAttr('disabled');"
          data-ajax-method="post"
          data-ajax-update="#EditBankAccountDetailsModalContent">
        <fieldset id="editBankAccountDetailsFieldSet">
            <modal-body>
                <div class="mb-3">
                    <label class="col-form-label fw-bold" asp-for="AccountNumber"></label><br />
                    <input class="form-control" placeholder="Bank Account Number" asp-for="AccountNumber" />
                    <span asp-validation-for="AccountNumber" class="text-danger small"></span>
                </div>
                <div class="mb-3">
                    <label class="col-form-label fw-bold" asp-for="Ifsc"></label><br />
                    <input class="form-control" placeholder="Ifsc Code" asp-for="Ifsc" />
                    <span asp-validation-for="Ifsc" class="text-danger small"></span>
                </div>
            </modal-body>
            <modal-footer>
                <button type="button" class="btn btn-default" data-bs-dismiss="modal" aria-label="close">Cancel</button>
                <button class="btn btn-success" type="submit">Update</button>
            </modal-footer>
        </fieldset>
    </form>
}

