@page "{id:long}"
@model TKW.AdminPortal.Areas.UserProfile.Pages.Ajax.Modal.TransactionModel
@{
    Layout = null;
}
<modal-header title="Request Details" close-button="true"></modal-header>
<modal-body>
    <partial name="_Transaction"/>
</modal-body>
<h1>Shailendra</h1>