@page "{Id:int}"
@model TKW.AdminPortal.Areas.Franchise.Pages.PincodesModel
@{
    ViewBag.Title = "Franchise Pincodes";

}
<pagetitle title="Franchise Pincodes" description="Manage pincodes of the franchise">
    <a data-bs-toggle="modal" data-bs-target="#ActionModal" data-load-url="@Url.Page("Ajax/Modal/AddPincode/SelectPincode",new { Model.Id })" class="btn btn-primary btn-outline btn-sm"><span class="fa fa-plus"></span> Add Pincode</a>
</pagetitle>

<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="hpanel" id="tablePanel">
                <div class="text-center">
                    <img src="~/images/ripple.gif" alt="Loading.." />
                </div>
            </div>
        </div>
    </div>
</div>

<lib name="SearchElem" />
@section Styles{
    <style>
        label::after {
            padding-left: 1px !important;
        }
    </style>
}
@section Scripts{
    <script>
        $(function () {
              $("#ActionModalContent").on("action.done", function () {
                  $("#tablePanel").load("@Url.Page("/Ajax/PincodeDays", new { Model.Id })");
              });
            $("#tablePanel").load("@Url.Page("/Ajax/PincodeDays", new { Model.Id })");
        });
    </script>
}
@section Footer{
    <modal id="ActionModal" content-id="ActionModalContent" loader="true"></modal>
}
@*onclick="_openCollapse($('#tr@(count)'));"*@
@*onclick="_checkIcon($('#tr@(count)'));*@
@* data-bs-toggle="collapse" data-bs-target="#collapse@(count)" aria-controls="collapse@(count)" *@