@using TKW.AdminPortal.Components.Dashboard

<div class="row">
    <div class="col-4">
        <RequestsComponent></RequestsComponent>
        <NewCustomersComponent></NewCustomersComponent>
        <ExpenseComponent></ExpenseComponent>
        <CancelledAndRescheduledRequestComponent></CancelledAndRescheduledRequestComponent>
    </div>
    <div class="col-8">
        <div class="row">
            <div class="col-8">
                <AssignedRequestComponent></AssignedRequestComponent>
            </div>
            <div class="col-4">
                <VehiclePickupBoyComponent></VehiclePickupBoyComponent>
            </div>
        </div>
        <div class="row">
            <PickupSessionComponent></PickupSessionComponent>
        </div>
        <div class="row">
            <PurchaseAndSellComponent></PurchaseAndSellComponent>
        </div>
        <div class="row">
            <PaymentMethodComponent></PaymentMethodComponent>
        </div>
    </div>

</div>

@code {

}

