@page "{Id:int?}"
@model TKW.AdminPortal.Areas.Sell.Pages.DetailsModel
@{
    ViewBag.Title = "Sell Details";
}
<pagetitle title="Sell Details" description="All details of Sell">
</pagetitle>
<div class="content">
    <partial name="_Details" model="Model.Sell" />
</div>