@using ChartJs.Blazor.PieChart
@using System.Drawing
@using AdminPortal_Component.SharedComponents

<div class="mb-3">
    <h6 class="font-weight-bold text-secondary small">Payment Method & Amount</h6>
    <div class="card rounded-0 border-0" style="box-shadow: 0px 0px 10px rgba(165, 165, 165, 0.25);">
        <div class="card-body">
            <div class="row">
                <div class="col-5">
                    <div class="position-relative">
                        <Chart Config="_config"></Chart>
                        <div class="position-absolute" style="top: 37%; left: 50%; transform: translate(-50%, 50%);">
                            <span class="small font-weight-bold text-secondary">₹ 85396.52</span>
                        </div>
                    </div>
                    
                </div>
                <div class="col-7">
                    <div class="row pb-3">
                        <div class="col-7">
                            <h6 class="mb-0 text-secondary font-weight-bold small">₹ 7689</h6>
                            <small class="font-weight-light">Total amount by Cash</small>
                        </div>
                        <div class="col-5 m-auto">
                            <small class="font-weight-bold">Cash(25)</small>
                        </div>
                    </div>
                    <div class="row pb-3">
                        <div class="col-7">
                            <h6 class="mb-0 text-secondary font-weight-bold small"> ₹ 7689</h6>
                            <small>Total amount by Paytm</small>
                        </div>
                        <div class="col-5 m-auto">
                            <small class="font-weight-bold">Paytm(25)</small>
                        </div>
                    </div>
                    <div class="row pb-3">
                        <div class="col-7">
                            <h6 class="mb-0 text-secondary font-weight-bold small">₹ 7689</h6>
                            <small>Total amount by Bank</small>
                        </div>
                        <div class="col-5 m-auto">
                            <small class="font-weight-bold">Bank(25)</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    private PieConfig _config;

    protected override void OnInitialized()
    {

        _config = new PieConfig(true)
        {


            Options = new PieOptions
            {
                AspectRatio = 1,
                MaintainAspectRatio = true,
                Responsive = true,
                CutoutPercentage = 75,
                Legend = new Legend
                {
                    Display = false,
                    Position = Position.Right
                },

                Title = new ChartJs.Blazor.Common.OptionsTitle
                {
                    Display = false,
                    Text = "ChartJs.Blazor Pie Chart"
                }


            }
        };

        foreach (string color in new[] { "Cash", "Paytm", "Bank", })
        {
            _config.Data.Labels.Add(color);
        }

        PieDataset<int> dataset = new PieDataset<int>(new[] { 3, 3, 3 })
        {
            BackgroundColor = new[]
            {
            ColorUtil.ColorString(92, 198, 65, 1), // Slice 1 aka "Red"
            ColorUtil.ColorString(92, 198, 65, 0.1), // Slice 2 aka "Yellow"
            ColorUtil.ColorString(92, 198, 65, 0.5), // Slice 3 aka "Green"
            
            }
        };

        _config.Data.Datasets.Add(dataset);
    }
}
