<div class="mb-3 w-100">
    <h6 class="font-weight-bold text-secondary small ml-3">Pickup Session</h6>
    <div class="card p-2 rounded-0 border-0 mx-3" style="box-shadow:0px 0px 10px rgba(209, 209, 209, 0.25);">
        <div class="card mb-2 pt-1 rounded-0 border-0" style="box-shadow:0px 0px 10px rgba(209, 209, 209, 0.25);">
            <div class="card-body px-3 py-2">
                <div class="row">
                    <div class="col-2">
                        <h6 class="font-weight-bold text-secondary mb-0"> TATA ACE</h6>
                        <small> MP 04 AU 6785 </small>
                    </div>
                    <div class="col-6 d-flex pt-2">
                        <div class="d-flex d-inline-block pl-2">
                            <h6 class="font-weight-bold text-secondary"> 23 </h6>
                            <small class="pl-1 text-secondary">Completed</small>
                        </div>
                        <div class="d-flex d-inline-block pl-2">
                            <h6 class="font-weight-bold text-secondary"> 23 </h6>
                            <small class="pl-1 text-secondary">Rescheduled</small>
                        </div>
                        <div class="d-flex d-inline-block pl-2">
                            <h6 class="font-weight-bold text-secondary"> 23 </h6>
                            <small class="pl-1 text-secondary">Cancelled</small>
                        </div>
                        <div class="d-flex d-inline-block pl-2">
                            <h6 class="font-weight-bold text-secondary"> 23 </h6>
                            <small class="pl-1 text-secondary">Pending</small>
                        </div>
                    </div>
                    <div class="col-4 d-flex">
                        <div class="px-3">
                            <h6 class="pt-2">₹ 3087.98</h6>
                        </div>
                        <div class="d-flex d-inline-block">
                            <small class="pt-2">Kamlesh, Sonu, Anil</small>
                        </div>
                    </div>
                </div>
                <div class="progress" style="height: 0.4rem;">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 30%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
                    <div class="progress-bar bg-info" role="progressbar" style="width: 15%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
                    <div class="progress-bar bg-danger" role="progressbar" style="width: 35%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                    <div class="progress-bar bg-secondary" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
        </div>
        <div class="card mb-2 pt-1 rounded-0 border-0" style="box-shadow:0px 0px 10px rgba(209, 209, 209, 0.25);">
            <div class="card-body px-3 py-2">
                <div class="row">
                    <div class="col-2">
                        <h6 class="font-weight-bold text-secondary mb-0"> TATA ACE</h6>
                        <small> MP 04 AU 6785 </small>
                    </div>
                    <div class="col-6 d-flex pt-2">
                        <div class="d-flex d-inline-block pl-2">
                            <h6 class="font-weight-bold text-secondary"> 23 </h6>
                            <small class="pl-1 text-secondary">Completed</small>
                        </div>
                        <div class="d-flex d-inline-block pl-2">
                            <h6 class="font-weight-bold text-secondary"> 23 </h6>
                            <small class="pl-1 text-secondary">Rescheduled</small>
                        </div>
                        <div class="d-flex d-inline-block pl-2">
                            <h6 class="font-weight-bold text-secondary"> 23 </h6>
                            <small class="pl-1 text-secondary">Cancelled</small>
                        </div>
                        <div class="d-flex d-inline-block pl-2">
                            <h6 class="font-weight-bold text-secondary"> 23 </h6>
                            <small class="pl-1 text-secondary">Pending</small>
                        </div>
                    </div>
                    <div class="col-4 d-flex">
                        <div class="px-3">
                            <h6 class="pt-2">₹ 3087.98</h6>
                        </div>
                        <div class="d-flex d-inline-block">
                            <small class="pt-2">Kamlesh, Sonu, Anil</small>
                        </div>
                    </div>
                </div>
                <div class="progress" style="height: 0.4rem;">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 15%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
                    <div class="progress-bar bg-info" role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
                    <div class="progress-bar bg-danger" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                    <div class="progress-bar bg-secondary" role="progressbar" style="width: 35%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
        </div>
        <div class="d-flex d-inline-block justify-content-center">
            <span class="small text-secondary">View more...</span>
        </div>
    </div>
</div>

@code {

}
