<div>
    <h6 class="font-weight-bold text-secondary small">Total Material</h6>
    <div class="card px-2 py-3 rounded-0 border-0" style="box-shadow: 0px 0px 10px rgba(165, 165, 165, 0.25);">
        <div class="card-body p-2">
            <div class="text-muted small pb-2">Total Sold & Collection of Material</div>
            <div class="row">
                <div class="col-6 border-right">
                    <h6>89766.88</h6>
                    <div class="text-muted small">Total Sold</div>
                </div>
                <div class="col-6">
                    <h6>90231.23</h6>
                    <div class="text-muted small">Total Collection</div>
                </div>
            </div>
        </div>
    </div>
</div>
@code {

}
